@{
  ViewBag.Title = "Home";
  //Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="fill">
  @*style="background: url('~/Images/Inv3.jpg')"*@
  @*<div class="container">*@
  <img src="~/Images/background1.jpg" />
</div>
<br />
<br />
@*<div class="container">
    <img src="~/Images/Inv3.png" />
  </div>*@
<script>
  $(window).load(function () {
    $('.container').find('img').each(function () {
      var imgClass = (this.width / this.height > 1) ? 'wide' : 'tall';
      $(this).addClass(imgClass);
    })
  })

  //$(document).ready(function () {

  //}
</script>
<style>
  .fill {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    /*background-image: url('~/Images/Inv3.jpg')*/
  }

  .container {
    width: 100%;
    height: 100%;
    background: #444;
    margin: 0 auto;
  }

    .container img.wide {
      max-width: 100%;
      max-height: 100%;
      height: auto;
    }

    .container img.tall {
      max-height: 100%;
      max-width: 100%;
      width: auto;
    }


</style>