
@{
    ViewBag.Title = "Error";
}
<div style="text-align:center">
    <br />
    <img src="~/Images/_error.png" />
    <br />
    <br />
    <br />
    <h2>You Don't Have Access to the Application, Contact Admin to Get Access</h2>
</div>
